<!DOCTYPE html>
{%extends 'basicfunc/base.html'%}
{%load staticfiles%}

	{%block head_block%}
	<div class="jumbotron" style="margin-bottom: 0px; color: #e2e2e2; background-color: #444444;">
		<h1>Welcome to the Home Page of my Website</h1>
		<h3 class="tagline">A new way of looking at credit points...</h3>
	</div>
	{%endblock%}

	{%block body_block%}
	<h1>Credits - What are they and how to collect them?</h1>

	<p>
		Rewards generally fall into one of three categories: cash, points, or miles. Cash rewards are the most straightforward and easiest to use. However, cash rewards cards don't always pay you in cash. Some programs only allow you to redeem your cash rewards as a credit to your account (note these credits don't typically count as payment on your account).
	</p>
	<p>
		Others will send a check or make a deposit into your bank account when you want to redeem your reward. Or you may be able to redeem your cash rewards for gift cards with your card issuer’s merchant partners. You’ll generally have to redeem your rewards in certain increments, like $25, or with a specific minimum.
	</p>
	<p>	
		Point rewards are given based on each dollar you spend—for example, one point per dollar. Points can typically be redeemed for merchandise in the reward program’s online shopping mall. Depending on the card issuer, you may also be able to redeem your points for gift cards, cash, or even travel. Redeeming your points for gift cards may give you more bang for your buck since many merchant partners give you 10 to 20% off the gift card price. Examples of points rewards cards include auto rewards cards and hotel rewards cards.
	</p>
	<p>	
		Miles or travel rewards cards reward you with miles that you can redeem for airline tickets. The number of miles you can earn varies by credit card and the number of miles you need to purchase a flight varies by frequent flier program. You may be able to convert miles between programs, but you may lose some points in the conversion process.
	</p>
	<p>
		You can use rewards for a variety of things. The cash rewards can help reduce your credit card balance. Travel rewards can help you earn free trips for yourself and your loved ones. You can use rewards to purchase holiday and birthday gifts. You can also invest the rewards you earn. For example, the Fidelity Investment Rewards Signature Visa puts your rewards into an investment account. The Wells Fargo Home Rebate Card uses your rewards to reduce your mortgage.
	</p>
	{%endblock%}
